.header-hero {
    width: 100vw;
    padding: 8vh 0;
    position: relative;
    display: flex;
    justify-content: center;    
 

    .gradient-radial {
        position: absolute;
        background: radial-gradient(circle, rgba(0, 216, 216,.3) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
        z-index: -1;
        top: -8vh;
        width: 100%;
        height: calc(100% + 8vh);
    }

    p {
        max-width: 55%;
        margin: 0 auto 32px;
        color: #ccc;
    }
}