.products {
    .product-item {
        text-align: center;

        &:nth-child(odd) {
            border-left:solid 1px $light-color;
            border-right:solid 1px $light-color;
        }

        b {
            display: block;
            margin-bottom: 8px;
        }
    }
}