.section-default {
    padding: 120px 0;   
    position: relative;
    transition: 2s;
}

.section-title {
    margin: 0 auto 80px;
}

.section-video {
    z-index: 9;
    position: relative;
    background-color: $black-color;
    // padding-bottom: 200px;    
    iframe {
        margin-top: -80px;
        border: solid 1px var(--primary-color);
        @include border-radius;
    }
}

.section-form {
    background-color: $black-color;
    // padding-top: 200px;
}

.section-howitworks {
    .howitworks-wrapper {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        
        .howitworks-item {
            border: solid 1px var(--primary-color);
            padding: 16px 32px;
            @include border-radius;

            b {
                display: block;
                color: var(--primary-color);
                font-size:1rem
            }
            svg {
                display: none;
                margin: 0 0 16px 0;
            }
        }
    }
}

.section-testimonials {
    iframe {
        @include border-radius;
        border: solid 1px var(--primary-color);
    }

    .gradient-radial {
        position: absolute;
        background: radial-gradient(circle, rgba(0, 216, 216,.3) 0%, rgba(0,0,0,.4) 40%, rgba(0,0,0,.4) 100%);
        z-index: -1;
        top: -8vh;
        width: 100%;
        height: calc(100% + 8vh);
    }
}

.section-forwho {
    .col-md-4 {
        padding-right: 28px;
    }
    .owl-for-who {
        display: grid;
        .owl-item {
            .box-padding-sm {
                min-height:380px;
            }
        }
        
    }
}

.section-faq {
    .accordion-item {
        background: transparent;
        border: 0;
    }
    .accordion-button {
        color: var(--primary-color);
        padding: 0;
        font-weight: bold;
        background-color: transparent;
    }
    .accordion-body {
        padding: 16px 0;
        color: #fff;
    }
    .accordion-button:not(.collapsed)::after {
        
    }
}

.icon-circle {
    max-width: 340px;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    border: solid 1px #333;
    padding: 16px 24px;
    @include border-radius;
    @include box-shadow;
    background: $black-color;

    img, svg {
        margin-right: 16px;
        max-width: 42px;
        width: 42px;
    }

    b {
        font-size:.9rem;
        display: block;
        color: var(--primary-color);
    }

    span {
        font-size: .8rem;
    }

    &.circle1 {
        left: 10vw;
        bottom: 5vh         
    }
    &.circle2 {
        left: 8vw;
        bottom: 50vh;   
    }
    &.circle3 {
        right: 10vw;
        bottom: 55vh;
    }
    &.circle4 {
        right: 15vw;
        bottom: 15vh;
    }
}