.section-default {
    padding: 120px 0;   
    position: relative;
    transition: 2s;
}

.section-title {
    margin: 0 auto 80px;
}

.section-video {
    z-index: 9;
    position: relative;
    background: $black-color;
    iframe {
        margin: -180px auto;
        border: solid 1px rgba(8,58,51,0.5);
        @include border-radius;
    }
}

.section-form {
    background: $black-color;
    padding-top: 280px;
}