.section-default {
    padding: 120px 0;   
    position: relative;
    transition: 2s;
}

.section-title {
    margin: 0 auto 80px;
}

.section-video {
    z-index: 9;
    position: relative;
    background-color: $black-color;
    // padding-bottom: 200px;    
    iframe {
        margin-top: -80px;
        border: solid 1px var(--primary-color);
        @include border-radius;
    }
}

.section-form {
    background-color: $black-color;
}

.section-howitworks {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg-robo-min.png');
    .howitworks-wrapper {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        
        .howitworks-item {
            border: solid 1px var(--primary-color);
            padding: 16px 32px;
            @include border-radius;

            b {
                display: block;
                color: var(--primary-color);
                font-size:1rem
            }
            svg {
                display: none;
                margin: 0 0 16px 0;
            }
        }
    }
}

.section-testimonials {
    iframe {
        @include border-radius;
        border: solid 1px var(--primary-color);
    }

    .gradient-radial {
        position: absolute;
        background: radial-gradient(circle, rgba(0, 216, 216,.3) 0%, rgba(0,0,0,.4) 40%, rgba(0,0,0,.4) 100%);
        z-index: -1;
        top: -8vh;
        width: 100%;
        height: calc(100% + 8vh);
    }
}

.section-forwho {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg-robo2-min.png');
    .col-md-4 {
        padding-right: 28px;
    }
    .owl-for-who {
        display: grid;
        .owl-item {
            .box-padding-sm {
                min-height:380px;
                background:#111
            }
        } 
    }
}

.section-teacher {
    background-color:#000;
    padding-bottom: 20px;
}

.section-faq {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg-robo-min.png');
    #accordion{
        margin: 0px;
        padding: 32px;
        background-color: #1b1b1b;
        @include border-radius;
        @include box-shadow;
    }
    #accordion a.openText {
        margin: 0px;
        padding: 10px;
        display: block;
        padding: 24px 0;
        color: #fff;
        border-bottom: solid 1px rgba(0, 216, 216,.3);
        font-weight: bold;
        position:relative;

        &:after {
            content:'+';
            display: block;
            position:absolute;
            right:8px;
            top:50%;
            font-size:2rem;
            transform: translateY(-50%);
        }        
    }
    #accordion li:before {
        display: none;
    }
    #accordion li div.openContent{        
        padding: 16px;
        @include transition;
        color: #fff;
        border: solid 1px var(--primary-color);
        background: rgba(8, 58, 51, .3);    
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #accordion li div.openContent.invisible {
        display: none;
    }
    #accordion li div.openContent.visible{
        display: inherit;
    }
}
.no-border {
    border: 0 !important;
}

.icon-circle {
    max-width: 340px;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    border: solid 1px #333;
    padding: 16px 24px;
    @include border-radius;
    @include box-shadow;
    background: $black-color;

    img, svg {
        margin-right: 16px;
        max-width: 42px;
        width: 42px;
    }

    b {
        font-size:.9rem;
        display: block;
        color: var(--primary-color);
    }

    span {
        font-size: .8rem;
    }

    &.circle1 {
        left: 10vw;
        bottom: 5vh         
    }
    &.circle2 {
        left: 8vw;
        bottom: 50vh;   
    }
    &.circle3 {
        right: 10vw;
        bottom: 55vh;
    }
    &.circle4 {
        right: 15vw;
        bottom: 15vh;
    }
}