@media screen and(max-width: 768px) { 

    // Titles
    h1 {
        font-size: 32px !important;
        line-height: 40px !important;
    }
    h2 {
        font-size: 28px !important;
        line-height: 32px !important;
    }
    .subtitle {
        font-size: .8rem;
    }

    // Header Hero
    .header-hero {
        height: 80vh;
        p {
            max-width: 95%;
        }
        .gradient-radial {
            background: radial-gradient(circle,rgba(0,216,216,0.3) 0,black 70%,black 100%);
        }
    }

    // Sections
    .section-default {
        padding: 80px 0 40px;

        .section-title {
            margin: 0 auto 30px;
        }
    }

    .section-video {
        padding-bottom: 0 !important;

        iframe {
            height: 300px !important;
        }
    }

    // Utils
    .danilo {
        margin-top: 0;
    }
    
    .box-padding, .box-padding-lg {
<<<<<<< HEAD
        padding: 42px 24px;
=======
        padding: 40px 15px;
>>>>>>> 4e8b9cbddf2d25cf69f822ec311146b3daada7ec
    }

    .no-padding {
        padding: 0;
    }

    .column-img {
        min-height: 300px;
        border-radius: 0;
    }

    .items-wrapper {
        grid-template-columns: 1fr;
    }

    .item-box {
        padding: 32px 24px;
        b {
            font-size:1.2rem
        }
    }

    iframe {
        margin-bottom: 32px;
    }

    .icon-contato svg {
        width: 30px;
    }

    .row-grid {
        &.two-columns {
            grid-template-columns: 1fr;
        }
    }

    .icon-circle {
        display: none;
    }

    // Footer
    footer.footer {
        text-align: center;

        .logo {
            margin-bottom: 32px;
        }

    }

}