@media screen and(max-width: 768px) { 

    // Titles
    h1 {
        font-size: 32px !important;
        line-height: 40px !important;
    }
    h2 {
        font-size: 28px !important;
        line-height: 32px !important;
    }
    h3 {
        font-size: 22px !important;
        line-height: 30px !important;
    }
    .subtitle {
        font-size: .8rem;
    }

    // Header Hero
    .header-hero {
        height: 80vh;
        h1,p {
            position: relative;
            z-index: 9;
        }
        p {
            margin: 0 auto 32px;
            max-width: 90%;
        }
        .col-12 {
            text-align: center;
        }
        .robot {
            width: 100%;
            right: 0;
            opacity: .2;
        }
        .machine-rings {
            display: none;
        }
    }

    // Sections
    .section-default {
        padding: 80px 0 40px;

        .section-title {
            margin: 0 auto 30px;
        }
    }

    .section-video {
        padding-bottom: 0 !important;

        iframe {
            height: 300px !important;
            
        }
    }

    .section-forwho  {
        .title {
            padding-top: 0;
            border-top: 0;
        }
        .box-padding-sm {
            min-height:150px;
        }
        svg {
            max-width: 50px;
        }
        .owl-for-who {
            display: grid;
            .owl-item {
                .box-padding-sm {
                    padding: 16px;
                    font-size: .9rem;
                    min-height:350px
                }
            } 
        }
    }

    .section-howitworks  {
        padding-bottom: 120px !important;
        video {
            max-width: 100%;
        }
        .howitworks-wrapper {
            margin-top: 32px;
            grid-template-columns: 1fr;
    
            .howitworks-item {
                padding: 32px 24px;
                b {
                    font-size:.8rem;    
                }
            }
        }
        .pulser {
            display: none;
        }
    }

    .section-teacher {
        .dias {
            margin-top: -250px;
        }
        svg {
            display: none;
        }

    }

    .section-cadastrese {
        text-align: center;
        label {
            text-align: left;
        }
    }

    
    .section-testimonials {
        iframe {
            height: 254px !important;
            margin-bottom:64px;
        }
        .superdom2 {
            display: none;
        }
        .superdom {
            position: absolute;
            top: auto;
            bottom: 20%;
            right: 3%;
            width: 180px;
        }
    
    }

    .section-faq #accordion a.openText {
        padding-right: 40px;
    }
    
    .box-padding {
        padding: 42px 24px;
    }

    .no-padding {
        padding: 0;
    }

    .column-img {
        min-height: 300px;
        border-radius: 0;
    }

    .items-wrapper {
        grid-template-columns: 1fr;
    }

    .item-box {
        padding: 32px 24px;
        b {
            font-size:1.2rem
        }
    }

    .icon-contato svg {
        width: 30px;
    }

    .row-grid {
        &.two-columns {
            grid-template-columns: 1fr;
        }
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0 !important;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 24px !important;
    }


    // Footer
    footer.footer {
        text-align: center;

        .logo {
            margin-bottom: 32px;
        }

    }

}